﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Hindi_Translator.Default" %>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google AJAX Language API - Basic Translation</title>
    
    
  </head>
  <body>
      <form runat="server">
  <asp:Label runat="server" ID="LABEL1"></asp:Label>
          </form>
  </body>
</html>